<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="../css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex-column justify-space-around justify-center-sm center m-2">
    <header class="display-flex justify-space-between align-center justify-center-sm center p-12">
        <img src="./assets/CalorieQuestLogoFull.JPG" alt="CalorieQuest Logo" width="150px" height="auto" class="w-90 h-45 object-cover transition-transform transform hover:scale-105 shadow-2xl shadow-2xl shadow-slate-800 hover:shadow-indigo-800"/>
        <h1>{{ siteTitle }}</h1>
        <nav> 
            <ul>
                  {{#if logged_in}}
                <li><a href="/profile">profile</a></li> |
                 <li><button class="no-button" id="logout">logout</button></li>
                 {{else}}
                <li><a href="/login"></a></li>
                {{/if}}
           
                {{!-- <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li> --}}
             </ul>
        </nav>
    </header>

    <main class="container container-fluid mt-5">
        {{{body}}}
    </main>

    <footer>
        <p>&copy; {{ currentYear }} {{ siteTitle }}</p>
    </footer>
    </div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
