<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="../css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex-column justify-space-around justify-center-sm center m-2">
    <header class="display-flex justify-space-between align-center justify-center-sm center p-12">
        <img src="../../assets/CalorieQuestLogoFULL.JPG" alt="CalorieQuest Logo" width="120px" height="auto"/>
        <h1>{{ siteTitle }}</h1>
    </header>

    <main class="container container-fluid mt-5">
        {{{body}}}
    </main>

<br>
<br>
<br>
<br>
<br>
<br>
    <footer class="fixed bottom-0 w-full bg-gray-300 p-4">
        <nav class="text-center">
            <ul class="flex justify-center">
                {{#if logged_in}}
                <a href="/profile">Profile</a>|
                 <li><button class="no-button" id="logout">Logout</button></li>
                 {{else}}
                <li><a href="/login"></a></li>
                {{/if}}

             </ul>
        </nav>
        <p>&copy; 2023 CalorieQuest{{ currentYear }} {{ siteTitle }}</p>
    </footer>
    </div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
