
<div class="row">
  <div class="col-md-6">
  <h2>{{name}}, submit your current information and launch a new Quest!</h2>
 
 <form class="form new-quest-form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-input" type="number" id="height_ft" name="height_ft" placeholder="Height (ft)"/>
        </div>
        <div class="form-group">
          <input class="form-input" type="number" id="height_in" name="height_in" placeholder="Height (in)"/>
        </div>
        <div class="form-group">
          <input class="form-input" type="text" id="gender" name="gender" placeholder="Gender"/>
        </div>
        <div class="form-group">
          <input class="form-input" type="number" id="age" name="age" placeholder="Age"/>
        </div>
      </div>
        
      <div class="col-md-6">
        <div class="form-group">
          <p>Enter the starting date for your quest below.</p>
       </div>
        <div class="form-group">
          <input class="form-input" type="date" id="starting_date" name="starting_date"/>
       </div>
        <div class="form-group">
          <input class="form-input" type="number" id="starting_weight" name="starting_weight" placeholder="Starting Weight"/>
       </div>
        <div class="form-group">
         <input class="form-input" type="number" id="goal_weight" name="goal_weight" placeholder="Goal Weight"/>
       </div>
     </div>

      <div class="col-md-12">
        <div class="form-group">
          <button class="btn btn-primary" type="submit">NEW QUEST</button>
        </div>
      </div>
    </div>
  </form>     
  </div>
  
  <div class="col-md-6">
    {{#if quests.length}}
    <div class="col-md-6 quest-list">
      <h2 class="b">QUESTS</h2>
      <br>

    {{#each quests as |quest|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/quest/{{quest.id}}">{{quest.date_label}} Quest - Goal: {{quest.goal_weight}}lbs</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{quest.id}}">DELETE</button>
        </div>
      </div>
    {{/each}}
    </div>
    {{/if}}

  </div>      
</div>

<script src="./js/profile.js"></script>








