
<div class="row">

  <div class="col-md-6">
  <h2><span class = "profile-name font-bold">{{date_label}} Quest</span></h2>
  <br>


    <div class="row">

      <div class="col-md-9">
        <h3 class="startingWeight">Starting Weight: {{starting_weight}}</h3>
        <h3 class="expectedWeight">Expected Weight: {{expected_final_weight}}</h3>
        <h3 class="dailyLossGoal">Daily Loss Goal: {{daily_loss_goal}}</h3>
        <h3 class="dailyLossActual">Actual Daily Loss: {{daily_loss_actual}}</h3>
        <h3 class="actualToGoal">Actual Loss vs. Goal: {{actual_to_goal}}</h3>
      </div>

      <div class="col-md-3">
        <h2>PROGRESS</h2>
        <p class="progress">{{progress}}</p>
      </div>
    
    </div>
  </div>
  
  <div class="col-md-6">
    <form class="form dailyLog-form">
      <div class="form-group">
        <input class="form-input" type="date" id="date" name="date" placeholder="Date"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="number" step="0.01" id="weight" name="weight" placeholder="Weight (lbs)"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="number" step="0.01" id="calories_consumed" name="calories_consumed" placeholder="Calories consumed on this date."/>
      </div>
      <div class="form-group">
        <label for="exercise" class="text-base">Select days exercised in last week below.</label>
        <select class="form-input" type="number" id="excerise" name="exercise" placeholder="Days exercised in last week."/>
         <option value="0">0</option>
         <option value="1">1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
         <option value="5">5</option>
         <option value="6">6</option>
         <option value="7">7</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add Daily Log</button>
      </div>
          </div>
        </div>
    </form>
  </div>  
  
</div>